# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MinimalGrpcTemplate.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Matt Heimlich\Documents\Development\Personal\MinimalGrpcTemplate\.idea\.idea.MinimalGrpcTemplate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
